.navbar {
  background: #121821;
}

.link-item {
  color: #fff;
  text-decoration: none !important;
  margin-left: 15px;
  font-size: 17px;
  transition: 0.3s ease;
}
.brand__link {
  color: #fff;
  text-decoration: none !important;
  font-size: 25px !important;
}
.brand__link span {
  color: #cc4b2c;
}
.brand__link:hover {
  color: #fff;
}
.link-item:hover {
  color: #cc4b2c;
}
.active {
  color: #cc4b2c;
}
