.works {
  padding-bottom: 20px;
}
.card {
  transition: 0.3s;
}
.card:hover {
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.3);
}
.cardLink {
  font-size: 14.5px;
  color: #cc4b2c;
  transition: 0.3s;
}
.cardLink:hover {
  color: #692312;
}
