.Showcase {
  height: 90.4vh;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-weight: 300;
  letter-spacing: 5px;
  margin-top: -60px;
  padding-left: 10px;
}
#title p {
  font-size: 30px;
}
#title h1 {
  font-size: 50px;
}
.download__Btn {
  background: #cc4b2c;
  text-decoration: none !important;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  margin-top: 10px;
  transition: 0.3s ease;
}
.download__Btn:hover {
  background-color: #662616;
  color: #fff;
}
